@import url('https://fonts.googleapis.com/css2?family=Nunto:wght@200;300;400;500;600;700;800&display=swap');


*{
    font-family: 'Nunto',sans-serif;
    padding: 0; margin: 0;    
    box-sizing: border-box;        
    outline: none; border: none;
    text-decoration: none;
    transition: all.2s linear;
    box-sizing: border-box;
        
}

.selection h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

#image{
    margin: 4% 0 0 68%;
    position: absolute;
}
.category{
    display: flex;
    gap: 2%;
    cursor: pointer;

}
.category .catbox{
    background: aqua;
    height: 30px;
    width: 60px;
   
}
