body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
  border-radius: 30px;
  height: 80px;
}

nav a {
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  transition: font-size 0.3s;
  font-size: 16px;
}

nav a:hover {
  background-color: #333;
  transform: scale(1.1);
}

nav a img {
  height: 60px;
  width: 180px;
  margin-right: 8px;
}

nav a[href="#about"]:hover,
nav a[href="#services"]:hover,
nav a[href="#contact"]:hover,
nav a[href="/Neptours/my report/html files/login.html"]:hover,
nav a[href="/Neptours/my report/html files/Signup.html"]:hover {
  background-color: #333;
  transform: scale(1.1);
}

nav a.login,
nav a.signup {
  margin-right: 16px;
  padding: 14px 30px;
  border-radius: 30px;
}

nav a.login {
  background-color: white;
  color: #333;
}

nav a.signup {
  background-color: #fc7c12;
}

nav a:active {
  font-size: 18px;
}
